.ddh-signup {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &-container {
    @include auth-card;

    width: 50%;

    > form,
    > div {
      width: 100%;
    }

    form {
      h1 {
        cursor: default;
      }

      label {
        width: 100%;
        display: block;
        font-weight: 600;
        padding: 10px 0;
      }

      input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-bottom: 10px;
      }

      .submit-btn {
        width: 30%;
        padding-top: 20px;
        margin: auto;

        button {
          @include button(white, rgba(77, 132, 255, 0.8));
        }
      }
    }
  }
}
