.ddh-tags {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
  
    &__container {
      @include auth-card;
      width: 75%;
      height: inherit;

      h1 {
        width: 100%;
      }

      &--text {
        width: 100%;
        height: 100%;
        position: relative;
      }

      &--table {
        overflow-y: scroll;
        width: 100%;
        height: 80%;
        padding-right: 40px;
        margin-top: 40px;

        &::-webkit-scrollbar {
          width: 10px;
        }
    
        &::-webkit-scrollbar-track {
          background: #f1f1f1;
        }
    
        &::-webkit-scrollbar-thumb {
          background: rgba(77, 132, 255, 0.8);
        }
    
        &::-webkit-scrollbar-thumb:hover {
          background: #576398;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            background: rgb(241 242 245 / 60%);

            tbody {

                tr {
                    border-bottom: 2px solid lightgray;

                    &:last-child {
                        border: none;
                    }
                }

                td {
                    padding: 10px;
                    
                    &:first-child {
                      width: 30%;
                      border-right: 2px solid lightgray;
                      font-weight: 600;
                    }

                }
            }
        }
      }

      &--table-top {
        display: flex;
        width: 100%;
        padding-right: 50px;
        position: absolute;
        top: 0;
        left: 0;

        .tag-name,
        .tag-desc {
          padding: 10px;
          font-weight: bold;
          text-transform: uppercase;
          background: rgba(241, 242, 245, 0.6);
          border-bottom: 3px solid lightgray;
        }

        .tag-name {
          width: 30%;
          border-right: 2px solid lightgray;
        }

        .tag-desc {
          width: 70%;
        }
      }
    }
  }
  