.ddh-task-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__container {
    @include auth-card;
    width: 85%;
    position: relative;
    min-height: auto;
    position: absolute;
    top: 4%;

    h1 {
      width: 100%;
    }

    .MuiDataGrid-root {
      border: none;
    }

    .MuiDataGrid-main {
      min-height: 650px;
      border: none;

      .MuiDataGrid-columnHeaders {
        border-color: white;
        font-size: 18px;
        font-weight: bold;
      }

      .MuiDataGrid-iconSeparator {
        color: white;
      }

      .MuiDataGrid-cell {
        border-color: white;
      }

      .MuiDataGrid-columnHeaderTitle {
        font-weight: 600;
      }

      .MuiDataGrid-row {
        .MuiDataGrid-cell:nth-child(2) {
          text-transform: capitalize;
        }
      }

      .table-title {
        a {
          color: rgba(77, 132, 255, 1);
          font-weight: 600;

          &:hover {
            color: rgba(77, 132, 255, 0.8);
            text-decoration: underline;
          }
        }
      }
      .table-actions {
        display: flex;
        justify-content: space-between;
        width: 100%;

        a {
          @include button(white, rgba(77, 132, 255, 0.8));
          margin-right: 10px;
        }

        button {
          @include button(white, rgba(255, 77, 77, 0.8));
        }
      }
    }

    .popup-container {
      position: absolute;
      top: 20%;
      left: 18%;
      width: 65%;
      height: 35%;
      background: rgba(236, 236, 236, 1);
      border-radius: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;

      &-box {
        height: 100%;

        h2 {
          font-size: 40px;
        }

        .popup-actions {
          display: flex;
          flex-wrap: wrap;
          margin-top: 60px;
        }

        &__delete {
          @include button(white, rgba(255, 77, 77, 0.8));
          width: 47%;
          margin-right: 10px;
        }

        &__close {
          @include button(white, rgba(77, 132, 255, 0.8));
          width: 47%;
        }
      }
    }
  }
}
