.ddh-navigation-sidebar {
  width: 12%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(236, 236, 236, 0.75);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  height: 100vh;
  z-index: 1;
  border-right: 4px solid;
  border-color: #008aff;

  nav {
    margin: 40px 0;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    li {
      padding: 5px 0;

      &:first-child {
        padding-top: 0;
      }

      &.active a {
        background: #576398;
      }
    }

    .separator {
      background: whitesmoke;
      height: 4px;
      width: 80%;
      margin: 5px auto;
    }

    a,
    .nav-logout-btn {
      @include button(white, rgba(77, 132, 255, 0.8));
      width: 85%;
      margin: auto;
      text-align: center;
    }
  }
}
