// Import Variable

@import './variables.scss';

// Components

@import './components/navbar.scss';

// Pages

@import './pages/login.scss';
@import './pages/register.scss';
@import './pages/password.scss';

@import './pages/dashboard.scss';
@import './pages/taskmanagerform.scss';
@import './pages/task-form.scss';
@import './pages/task-list.scss';
@import './pages/task.scss';

// Common

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.app-container {
  display: flex;
  position: relative;
}

.ddh-main {
  height: 100vh;
  width: 100%;
  background: linear-gradient(322deg, #ba4aff, rgba(#ba4aff, 0) 70%),
    linear-gradient(178deg, #008aff, rgba(#008aff, 0) 70%),
    linear-gradient(24deg, #00ffc6, rgba(#00ffc6, 0) 35%);
}

.loader-box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #576398;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: auto;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ddh-system-message {
  position: absolute;
  top: 5%;
  left: 37%;
  width: 500px;
  text-align: center;
  display: flex;
  padding: 10px 20px;
  background-color: rgba(77, 132, 255, 0.8);
  color: white;
  font-weight: 600;
  border-radius: 16px;

  &--close {
    margin-left: auto;
    cursor: pointer;
  }
}
